.instagram-gradient {
    background: #f09433; /* Fallback color for older browsers */
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); /* For IE9 and older */
}
.linkedin-gradient-bg {
    background: linear-gradient(
        to right,
        #001328 0%,
        #004E92 100%
    );
}



.github-gradient-text {
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    /* For older browser compatibility */
    background: -webkit-linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
